@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav{
 font-family: "Oswald", sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 88px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.container{
    min-height: 80vh;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#myProgressBar{
    width: 45vw;
     
}